NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_DBNAME=cinema_db
DB_TIMEZONE=Z

JWT_SECRET=your_super_secret_key_change_in_production
FRONTEND_URLS=http://localhost:5173,http://127.0.0.1:5173

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
