html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    margin: 0 auto;
    color: #2c3e50;
    background: #ffffff;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
