html {
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    min-height: 100vh;
    margin: 0 auto;
    color: #2c3e50;
    background: #ffffff;
    line-height: 1.6;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.v-icon {
    align-items: center;
    display: inline-flex;
    font-feature-settings: 'liga';
    justify-content: center;
    letter-spacing: normal;
    line-height: 1;
    position: relative;
    opacity: 1.2;
    text-indent: 0;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
}

.container {
    @apply mx-auto px-4 sm:px-6 lg:px-8;
}
